*{
    font-family: 'Noto Sans KR', sans-serif;
    border-collapse: collapse;
    margin: 0px;
    padding 0px;
    color: #000;
    text-decoration: none;
    list-style: none;
}
.all{
    position: relative;
    top: -200px;
}
.weather{
    margin-left: 80%;
    position: relative;
    top: 400px;
    width: 300px;
    
}
.weather h1{
    color: #000;
    font-size: 50px;
}
.weather span{
    color: #000;
    font-size: 40px;
}
.logo{
    margin-top: 200px;
    margin-left: 100px;
}
.head{
    margin-top: 50px;
    margin-left: 100px;
}
.head > h1{
    font-size: 100px;
    font-weight: bold;
}
.head > p{
    font-size: 40px;
}
.logo .title{
    margin-left: 20px;
    position: relative;
    bottom: 40px;
    padding-top: 40px;
    font-size: 40px;
}
.icon{
    display: flex;
    margin: auto;
    width: 1800px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icon> li{
    width: 30%;
    height: 500px;
    margin-top: 49px;  
    text-align: center ;
}
.icon > li:not(:last-child){
    margin-right: 20px;
}
.icon > .icons1{
    background-color: #f2849e;
}
.icon > .icons2{
    background-color: #7ecaf6;
}
.icon > .icons3{
    background-color: #7bd0c1;
}
.icon > .icons4{
    background-color: #c75b9b;
}
.icon > .icons5{
    background-color: #ae85ca;
}
.icon > .icons6{
    background-color: #8499e7;
}
.icon>li>a>.icon_img{
    padding-top: 150px;
}
.contents1_bold{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 150px;
    margin-top: 30px;
}

